<article id="<%= dom_id(@project)%>" class="p-4 rounded-lg border border-gray-200">
  <section class="flex flex-col gap-1 justify-start items-stretch">
    <h1 class="text-lg text-green-800"><%= @project %></h1>
    <%= @project.description %>
  </section>
</article>